h1{
  text-align: center;
  font-size: 72px;
  line-height: 108px;
  font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
margin-bottom: 0%;
}

h3{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  line-height: 29px;
  margin-top: 0%;
}

body {
  margin-top: 10%;
  background-color:#F3E8E8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  padding-left: 17px;
  height: 50px;
  width: 100%;
  font-size: medium;
  border-radius: 30px;
  margin-bottom: 10px;
}

button{
  display: block;
  font-size: 16px;
  background-color: white;
  height: 40px;
  margin: auto;
  padding: 8px;
  cursor: pointer;
}
span{
  cursor: pointer;
}

li{
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  /* margin-left: 37%; */
  list-style-type: none;
  height: 48px;
  border-radius: 10px;
  background-color: #F3BAC2;
  padding-left: 10px;
  margin-bottom: 10px;
}

.fa{
  padding: 15px 20px;
}

*{
  box-sizing: border-box;
}

.dashboard{
  font-family: sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.dashboard-items{
  background-color: rgb(242, 196, 10);
  padding: 10px;
  border-radius: 20px;
}